@{
    ViewData["Title"] = "Home Page";
}
@model Simpson

<div class="text-center">
    <h1 class="display-4"><font face="nunito,arial,verdana">SIMPSON</font></h1>
    <a href="https://docs.microsoft.com/aspnet/core"></a>
    <p>@Model.Nombre</p>
    <img src="@Model.Imagen">
</div>


    


