@{
    ViewData["Title"] = "Home Page";
}
@model Ricky

<div class="text-center">
    <h1 class="display-4"><font face="nunito,arial,verdana">RICKY</font></h1>
    <a href="https://docs.microsoft.com/aspnet/core"></a>
    <p>@Model.name</p>
    <img src=@Model.image>
</div>
